<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/partials.css" />
    <title><%= post.title %></title>
  </head>
  <body>
    <%- include("partials/navbar.ejs") %>
    <div class="renderPosts">
      <div class="renderPost">
        <h1><%= post.title %></h1>
        <p><%= post.content %></p>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
